/* Fontes */
@font-face {
    font-family: "Gamer";
    src: url('../fonts/Gamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Welbut";
    src: url('../fonts/Welbut.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** ------------- Global ------------- **/
body {
    background-color: #fec8df;

}

.container {
    display: table;
    text-align: center;
    width: 100%;
}

p {
    text-align: left;
    font-family: Welbut;
    color: #8E72D6;
    max-width: 80%;
}

.elfsight-app-fda0a2dd-b500-4dba-bbbc-a87466d5f7cd {
    padding-left: 5%;
    padding-right: 5%;
}

.txt-play {
    text-align: center;
    font-family: Welbut;
}

.spotify {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** ------------- Desenvolvido por ------------- **/

.dev-for {
  max-width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding-top: 10%;

}

a {
  text-decoration: none;
  color: #8E72D6;
}

/** ------------- Celulares ------------- **/
@media (max-width: 800px) {
    .logo {
        width: 75%;
    }
    
    p {
        font-size: 18px;
        max-width: 85%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px 0 0 20px;
    }



}

/** ------------- Tablets ------------- **/

@media only screen and (min-width: 768px) {

    .logo {
        width: 50%;
    }
    
    p {
        font-size: 20px;
        max-width: 85%;
        margin-left: 10%;
        margin-right: 10%;
    }

}

/** ------------- Desktops ------------- **/

@media only screen and (min-width: 992px) {

    .logo {
        width: 30%;
    }
    
    p {
        font-size: 20px;
        max-width: 85%;
        margin-left: 10%;
        margin-right: 10%;
    }
iframe {
    width: 50%;
  }

}
