/* Fontes */
@font-face {
    font-family: "Gamer";
    src: url('../fonts/Gamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fec8df;

}

.container {
    display: table;
    text-align: center;
    width: 100%;
}

.logo {
    width: 27%;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Gamer;
    font-weight: bold;
    padding: 20px 0 0 20px;
    animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/** Player de Música **/
audio:hover, audio:active {
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px ##fec8df;
-webkit-box-shadow:  2px 2px 4px 0px #fec8df;
box-shadow: 2px 2px 4px 0px ##fec8df;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/** Para telas menores**/
@media (max-width: 800px) {
    .logo {
        width: 75%;
    }
}