/* Fontes */
@font-face {
    font-family: "Gamer";
    src: url('../fonts/Gamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** ------------- Global ------------- **/
body {
    background-color: #fec8df;

}

.container {
    display: table;
    text-align: center;
    width: 100%;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: Gamer;
    max-width: 80%;
}

.txt-play {
    text-align: center;
    font-size: 30px;
    font-family: Gamer;
}

/** Player de Música **/
.music {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.spotify {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** ------------- Celulares ------------- **/
@media (max-width: 800px) {
    .logo {
        width: 75%;
    }
    
    p {
        text-align: justify;
        font-size: 30px;
        font-family: Gamer;
        max-width: 85%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px 0 0 20px;
    }



}

/** ------------- Tablets ------------- **/

@media only screen and (min-width: 768px) {

    .logo {
        width: 50%;
    }
    
    p {
        text-align: left;
        font-size: 28px;
        font-family: Gamer;
        max-width: 85%;
        margin-left: 10%;
        margin-right: 10%;
    }

}

/** ------------- Desktops ------------- **/

@media only screen and (min-width: 992px) {

    .logo {
        width: 30%;
    }
    
    p {
        text-align: left;
        font-size: 27px;
        font-family: Gamer;
        max-width: 85%;
        margin-left: 10%;
        margin-right: 10%;
    }


}
